{% extends 'web/base.html' %}
{% block content %}
<section class="top-space-margin page-title-big-typography border-radius-6px lg-border-radius-0px p-0"
    data-parallax-background-ratio="0.5"
    style="background-image: url(/static/web/images/corporate-about-title-bg.jpg)">
    <div class="opacity-extra-medium bg-blue-whale"></div>
    <div class="container">
        <div class="row align-items-center justify-content-center small-screen">
            <div class="col-lg-8 position-relative text-center page-title-extra-large"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <h1 class="m-auto text-white text-shadow-double-large fw-600 ls-minus-2px">About us</h1>
            </div>
            <div class="down-section text-center"
                data-anime="{ &quot;translateY&quot;: [-50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <a href="#down-section" class="section-link">
                    <div class="text-white">
                        <i class="feather icon-feather-chevron-down icon-very-medium"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


<section id="down-section" class="border-bottom border-color-extra-medium-gray">
    <div class="container overlap-gap-section">
        <div class="row align-items-end justify-content-center mb-5 md-mb-40px text-center text-md-start">
            <div class="col-xl-5 col-lg-6 col-md-10 md-mb-20px text-center text-lg-start"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <span
                    class="ps-25px pe-25px mb-20px text-uppercase text-base-color fs-14 lh-42px fw-700 border-radius-100px bg-gradient-very-light-gray-transparent d-inline-block">About
                    Nexteons</span>
                <h3 class="text-dark-gray fw-700 mb-0 ls-minus-1px">Driving Innovation, Delivering Excellence</h3>
            </div>
            <div
                class="col-xl-6 col-lg-6 col-md-10 offset-xl-1 text-center text-lg-start last-paragraph-no-margin">
                <p class="w-90 xl-w-100"
                    data-anime="{ &quot;el&quot;: &quot;lines&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    Discover how Nexteons combines industry expertise with advanced technologies to provide innovative solutions, fostering business <span
                        class="fw-600 text-dark-gray text-decoration-line-bottom">growth and success in a rapidly evolving digital landscape. </span></p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 row-cols-sm-2 justify-content-center"
            data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">

            <div class="col custom-icon-with-text-style-02">
                <div class="feature-box p-6 last-paragraph-no-margin overflow-hidden md-mb-20px">
                    <div class="feature-box-icon">
                        <img class="custom-image-icon mb-20px" src="/static/web/images/corporate-about-icon-01.png"
                            alt />
                    </div>
                    <div class="feature-box-content">
                        <span class="d-block fs-19 fw-700 text-dark-gray mb-5px">Trusted company</span>
                        <p>Your Trusted Partner in Technology Innovation and Excellence.</p>
                    </div>
                </div>
            </div>


            <div class="col custom-icon-with-text-style-02">
                <div class="feature-box p-6 last-paragraph-no-margin overflow-hidden md-mb-20px">
                    <div class="feature-box-icon">
                        <img class="custom-image-icon mb-20px" src="/static/web/images/corporate-about-icon-02.png"
                            alt />
                    </div>
                    <div class="feature-box-content">
                        <span class="d-block fs-19 fw-700 text-dark-gray mb-5px">Professional work</span>
                        <p>Where Professionalism Meets Technological Expertise.</p>
                    </div>
                </div>
            </div>


            <div class="col custom-icon-with-text-style-02">
                <div class="feature-box p-6 last-paragraph-no-margin overflow-hidden xs-mb-20px">
                    <div class="feature-box-icon">
                        <img class="custom-image-icon mb-20px" src="/static/web/images/corporate-about-icon-03.png"
                            alt />
                    </div>
                    <div class="feature-box-content">
                        <span class="d-block fs-19 fw-700 text-dark-gray mb-5px">Award winning</span>
                        <p>Award-Winning Excellence in Technology Solutions.</p>
                    </div>
                </div>
            </div>


            <div class="col custom-icon-with-text-style-02">
                <div class="feature-box p-6 last-paragraph-no-margin overflow-hidden">
                    <div class="feature-box-icon">
                        <img class="custom-image-icon mb-20px" src="/static/web/images/corporate-about-icon-04.png"
                            alt />
                    </div>
                    <div class="feature-box-content">
                        <span class="d-block fs-19 fw-700 text-dark-gray mb-5px">Help any time</span>
                        <p>Your 24/7 Partner in Technology Support.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="py-0 sm-pt-50px"
    data-anime="{ &quot;translateY&quot;: [0, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
    <div class="container overlap-section">
        <div class="row justify-content-center g-0">
            <div
                class="col-auto text-center last-paragraph-no-margin icon-with-text-style-08 pt-20px pb-20px ps-8 pe-8 md-ps-30px md-pe-30px bg-white border border-color-extra-medium-gray box-shadow-medium-bottom border-radius-100px xs-border-radius-10px">
                <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                    <div class="feature-box-icon me-10px">
                        <i class="bi bi-chat-text icon-extra-medium text-base-color"></i>
                    </div>
                    <div
                        class="feature-box-content last-paragraph-no-margin text-dark-gray text-uppercase fs-15 fw-700 ls-05px">
                        Let's make something great work together. <a href="{% url 'web:contact' %}"
                            class="text-base-color text-decoration-line-bottom-medium border-1">Got a project in
                            mind?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="position-relative overflow-hidden">
    <div class="container">
        <div class="row justify-content-center align-items-center mb-3">
            <div class="col-xl-3 col-lg-6 md-mb-14 sm-mb-18 xs-mb-23 position-relative"
                data-anime="{ &quot;translateY&quot;: [0, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 800, &quot;delay&quot;: 100, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <div class="w-75 sm-w-80" data-animation-delay="200" data-shadow-animation="true"
                    data-bottom-top="transform: translateY(50px)"
                    data-top-bottom="transform: translateY(-50px)">
                    <img src="/static/web/images/corporate-about-img-01.jpg" alt class="border-radius-6px w-100">
                    
                </div>
                <div class="w-55 overflow-hidden position-absolute right-15px xs-w-55 bottom-minus-50px"
                    data-shadow-animation="true" data-animation-delay="100"
                    data-bottom-top="transform: translateY(20px)"
                    data-top-bottom="transform: translateY(-20px)">
                    <img src="/static/web/images/corporate-about-img-02.jpg" alt
                        class="border-radius-6px box-shadow-quadruple-large w-100" />
                </div>
            </div>
            <div class="col-xl-7 offset-xl-1 col-lg-6 text-center text-lg-start">
                <div class="">
                    <div class="mb-10px">

                        <div class="swiper">
                            <span class="ps-25px pe-25px mb-20px text-uppercase text-base-color fs-14 lh-42px fw-700 border-radius-100px bg-gradient-very-light-gray-transparent d-inline-block">Vision</span>
                            <p class="w-95 xl-w-100">We envision ourselves as the premier global authority in crafting tailored software solutions that not only meet but exceed the diverse needs and aspirations of our clients across industries, by relentlessly pursuing innovation, harnessing cutting-edge technologies</p>
                        </div>


                        <div class="swiper">
                            <span class="ps-25px pe-25px mb-20px text-uppercase text-base-color fs-14 lh-42px fw-700 border-radius-100px bg-gradient-very-light-gray-transparent d-inline-block">Mission</span>
                            <p class="w-95 xl-w-100">Our mission is to leverage our expertise in custom software development and advanced Al technologies to provide innovative solutions that drive tangible, measurable success for our clients.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="/static/web/images/corporate-about-bg-01.png"
        class="position-absolute bottom-minus-50px right-minus-50px z-index-minus-1"
        data-bottom-top="transform: rotate(0deg) translateY(0)"
        data-top-bottom="transform:rotate(-15deg) translateY(0)" alt />
</section>


<section class="bg-gradient-quartz-white border-radius-6px">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-xl-5 col-md-7 col-lg-6 col-sm-8 text-center"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;:0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <h3 class="text-dark-gray fw-700 ls-minus-1px">Committed staff are ready to help you</h3>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2"
            data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;:0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">

            {% for team in teams %}
            <div class="col team-style-08 border-radius-6px mb-30px">
                <figure class="mb-0 position-relative overflow-hidden border-radius-4px">
                    <img src="{{team.image.url}}" alt style="height: 340px;width: 100%;object-fit: cover;" />
                    <figcaption
                        class="w-100 h-100 d-flex align-items-end p-13 lg-p-8 md-p-10 bg-gradient-base-transparent border-radius-6px">
                        <div class="w-100">
                            <span class="team-member-name fw-500 text-white d-block">{{team.name}}</span>
                            <span class="member-designation fs-15 lh-20 text-white d-block">{{team.designation}}</span>
                        </div>
                    </figcaption>
                </figure>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<section class="pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 text-center mb-1"
                data-anime="{ &quot;translateY&quot;: [0, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <span
                    class="text-dark-gray fw-700 fs-15 text-uppercase border-1 pb-5px border-bottom border-color-extra-medium-gray text-dark-gray">
                    Join the nexteon Experience</span>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}