<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    {% include 'web/partials/head.html' %}
</head>

<body data-mobile-nav-trigger-alignment="right" data-mobile-nav-style="modern" data-mobile-nav-bg-color="#242E45">
    <div class="box-layout">

       {% include 'web/partials/header.html' %}
       
       {% block content %}
       
       {% endblock %}
       
       {% include 'web/partials/footer.html' %}

        <div class="scroll-progress d-none d-xxl-block">
            <a href="#" class="scroll-top" aria-label="scroll">
                <span class="scroll-text">Scroll</span>
                <span class="scroll-line"><span class="scroll-point"></span></span>
            </a>
        </div>

    </div>

    <script type="text/javascript" src="/static/web/js/jquery.js"></script>
    <script type="text/javascript" src="/static/web/js/vendors.min.js"></script>
    {% block js_plugins %} {% endblock %}
    <script type="text/javascript" src="/static/web/js/main.js"></script>
</body>

</html>