<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!-- Primary Meta Tags -->
    <title>Nexteons Technologies LLP: Trusted Software Partner for Your Business Success</title>
    <meta name="title" content="Nexteons Technologies LLP: Trusted Software Partner for Your Business Success" />
    <meta name="description" content="Nexteons Technologies LLP is your trusted partner for custom software development. We specialize in crafting solutions that seamlessly integrate with your existing infrastructure and workflows, empowering your business to thrive." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://metatags.io/" />
    <meta property="og:title" content="Nexteons Technologies LLP: Trusted Software Partner for Your Business Success" />
    <meta property="og:description" content="Nexteons Technologies LLP is your trusted partner for custom software development. We specialize in crafting solutions that seamlessly integrate with your existing infrastructure and workflows, empowering your business to thrive." />
    <meta property="og:image" content="https://metatags.io/images/meta-tags.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://metatags.io/" />
    <meta property="twitter:title" content="Nexteons Technologies LLP: Trusted Software Partner for Your Business Success" />
    <meta property="twitter:description" content="Nexteons Technologies LLP is your trusted partner for custom software development. We specialize in crafting solutions that seamlessly integrate with your existing infrastructure and workflows, empowering your business to thrive." />
    <meta property="twitter:image" content="https://metatags.io/images/meta-tags.png" />


    <link rel="shortcut icon" href="/static/web/images/favicon.png">
    <link rel="apple-touch-icon" href="/static/web/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/web/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/web/images/apple-touch-icon-114x114.png">

    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

    <link rel="stylesheet" type="text/css" href="/static/web/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="/static/web/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/static/web/revolution/css/navigation.css">

    <link rel="stylesheet" href="/static/web/css/vendors.min.css" />
    <link rel="stylesheet" href="/static/web/css/icon.min.css" />
    <link rel="stylesheet" href="/static/web/css/style.min.css" />
    <link rel="stylesheet" href="/static/web/css/responsive.min.css" />
    <link rel="stylesheet" href="/static/web/css/master.css" />
    
</head>

<body data-mobile-nav-trigger-alignment="right" data-mobile-nav-style="modern" data-mobile-nav-bg-color="#242E45">
    <div class="box-layout">

       {% include 'web/partials/header.html' %}
       
       {% block content %}
       
       {% endblock %}
       
       {% include 'web/partials/footer.html' %}

        <div class="scroll-progress d-none d-xxl-block">
            <a href="#" class="scroll-top" aria-label="scroll">
                <span class="scroll-text">Scroll</span><span class="scroll-line"><span
                        class="scroll-point"></span></span>
            </a>
        </div>

    </div>

    <script type="text/javascript" src="/static/web/js/jquery.js"></script>
    <script type="text/javascript" src="/static/web/js/vendors.min.js"></script>
    {% block js_plugins %} {% endblock %}
    <script type="text/javascript" src="/static/web/js/main.js"></script>
    {% block javascript %} {% endblock %}
</body>

</html>