{% extends 'web/base.html' %}
{% block content %}
<section class="top-space-margin page-title-big-typography border-radius-6px lg-border-radius-0px p-0"
    data-parallax-background-ratio="0.5"
    style="background-image: url(/static/web/images/demo-corporate-customer-stories-bg.jpg)">
    <div class="opacity-extra-medium bg-blue-whale"></div>
    <div class="container">
        <div class="row align-items-center justify-content-center small-screen">
            <div class="col-lg-8 position-relative text-center page-title-extra-large"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <h1 class="m-auto text-white text-shadow-double-large fw-600 ls-minus-2px">Careers</h1>
            </div>
            <div class="down-section text-center"
                data-anime="{ &quot;translateY&quot;: [-50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <a href="#down-section" class="section-link">
                    <div class="text-white">
                        <i class="feather icon-feather-chevron-down icon-very-medium"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="bg-gradient-quartz-white border-radius-6px lg-border-radius-0px">
    <div class="container background-no-repeat background-position-center-bottom"
        style="background-image: url('/static/web/images/demo-corporate-bg-02.png')">
        <div class="row justify-content-center align-items-center mb-2"
            data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateX&quot;: [0, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 100, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
            <div class="col-4 col-lg-2 col-sm-3 xs-mb-25px">
                <div class="swiper rounded-circle"
                    data-slider-options="{ &quot;slidesPerView&quot;: 1, &quot;loop&quot;: true, &quot;autoplay&quot;: { &quot;delay&quot;: 1000, &quot;disableOnInteraction&quot;: false },  &quot;keyboard&quot;: { &quot;enabled&quot;: true, &quot;onlyInViewport&quot;: true }, &quot;effect&quot;: &quot;fade&quot; }">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="border-radius-50 w-100" src="/static/web/images/demo-corporate-services-07.jpg"
                                alt />
                        </div>
                        <div class="swiper-slide">
                            <img class="border-radius-50 w-100" src="/static/web/images/demo-corporate-services-08.jpg"
                                alt />
                        </div>
                        <div class="swiper-slide">
                            <img class="border-radius-50 w-100" src="/static/web/images/demo-corporate-services-09.jpg"
                                alt />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-7 text-center text-sm-start">
                <h5 class="alt-font text-dark-gray lh-40 fw-500 ls-minus-1px mb-0 ms-10px lg-ms-0"
                    data-anime="{ &quot;translateY&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 500, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    Join to our team of <span
                        class="fw-800 text-base-color text-decoration-line-bottom-medium">25+</span> happy
                    employees.</h5>
            </div>
            <div
                class="col-xl-2 offset-xl-2 col-lg-3 offset-lg-1 col-sm-4 md-mt-35px text-center text-lg-start">
                <h2 class="alt-font text-dark-gray fw-800 ls-minus-3px mb-5px"
                    data-anime="{ &quot;el&quot;: &quot;lines&quot;, &quot;translateY&quot;: [15, 0], &quot;opacity&quot;: [0,1], &quot;delay&quot;: 300, &quot;staggervalue&quot;: 100, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    20+</h2>
                <span class="text-dark-gray fw-500 lh-24 d-inline-block w-90 lg-w-80 sm-w-100"
                    data-anime="{ &quot;el&quot;: &quot;lines&quot;, &quot;translateY&quot;: [15, 0], &quot;opacity&quot;: [0,1], &quot;delay&quot;: 400, &quot;staggervalue&quot;: 100, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    Projects</span>
            </div>
            <div class="col-lg-2 col-sm-4 ps-40px md-ps-15px md-mt-35px text-center text-lg-start">
                <h2 class="alt-font text-dark-gray fw-800 ls-minus-3px mb-5px"
                    data-anime="{ &quot;translateY&quot;: [15, 0], &quot;opacity&quot;: [0,1], &quot;delay&quot;: 100, &quot;staggervalue&quot;: 100, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    4.9</h2>
                <span class="text-dark-gray fw-500"
                    data-anime="{ &quot;el&quot;: &quot;lines&quot;, &quot;translateY&quot;: [15, 0], &quot;opacity&quot;: [0,1], &quot;delay&quot;: 300, &quot;staggervalue&quot;: 100, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    Rating</span>
            </div>
        </div>
        <div class="row mb-3">
    
            <div class="row pt-30px pb-30px">
                {% for career in careers %}
                <div class="col-md-12 review-style-07 mb-3">
                    <div
                        class="d-flex justify-content-center flex-column border-radius-6px p-3 bg-white box-shadow-extra-large xl-p-10">
                        <div class="mb-20px">
                            <div class="d-inline-block align-middle">
                                <div class="text-dark-gray fs-18 fw-600">{{career.title}}</div>
                            </div>
                        </div>
                        <p class="mb-15px md-w-85 sm-w-100">
                            {{career.description}}
                        </p>
                        <span class="bg-gradient-very-light-gray-transparent border-radius-100px fs-14 fw-700 pe-25px ps-25px text-base-color text-uppercase">Send your resume at careers@nexteons.com</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        
        </div>
       
        
    </div>
</section>

{% endblock %}