<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    {% include 'web/partials/head.html' %}
</head>


<body data-mobile-nav-trigger-alignment="right" data-mobile-nav-style="modern" data-mobile-nav-bg-color="#242E45">
    <div class="box-layout">

       {% include 'web/partials/header.html' %}

       {% if sliders %}
        <section id="slider" class="p-0 top-space-margin ">
            <div class="demo-corporate-slider_wrapper fullscreen-container" data-alias="portfolio-viewer"
                data-source="gallery" style="background-color:transparent;padding:0px;">
                <div id="demo-corporate-slider" class="rev_slider bg-regal-blue fullscreenbanner" style="display:none;"
                    data-version="5.3.1.6">

                    <ul>
                        {% for slider in sliders %}
                        <li data-index="rs-0{{forloop.counter}}" data-transition="fade" data-slotamount="default"
                            data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                            data-easeout="default" data-masterspeed="1500" data-rotate="0" data-saveperformance="off"
                            data-title="Crossfit" data-param1 data-param2 data-param3 data-param4 data-param5
                            data-param6 data-param7 data-param8 data-param9 data-param10 data-description>

                            <img src="{{slider.image.url}}" alt="Image"
                                data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                                class="rev-slidebg" data-no-retina>

                            <div class="tp-caption tp-shape tp-shapewrapper " id="slide-{{forloop.counter}}-layer-01"
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
                                data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                                data-frames="[{&quot;delay&quot;:0,&quot;speed&quot;:1000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power4.easeInOut&quot;},
                                     {&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power4.easeInOut&quot;}]"
                                style="background:rgba(22,35,63,0.1); z-index: 0;">
                            </div>


                            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme bg-regal-blue border-radius-50"
                                id="slide-{{forloop.counter}}-layer-02" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['0','0','0','0']" data-width="['900','700','700','600']"
                                data-height="['900','700','700','600']" data-whitespace="nowrap" data-type="shape"
                                data-responsive_offset="on"
                                data-frames="[{&quot;delay&quot;:1000,&quot;speed&quot;:1000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:0px;y:50px;rX:0deg;rY:0deg;rZ:0deg;sX:0.5;sY:0.5;opacity:0;&quot;,&quot;to&quot;:&quot;o:0.5;&quot;,&quot;ease&quot;:&quot;Back.easeOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index: 0;">
                            </div>


                            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme bg-regal-blue border-radius-50"
                                id="slide-{{forloop.counter}}-layer-03" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['0','0','0','0']" data-width="['1200','1000','900','800']"
                                data-height="['1200','1000','900','800']" data-whitespace="nowrap" data-type="shape"
                                data-responsive_offset="on"
                                data-frames="[{&quot;delay&quot;:1300,&quot;speed&quot;:1000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:0px;y:50px;rX:0deg;rY:0deg;rZ:0deg;sX:0.5;sY:0.5;opacity:0;&quot;,&quot;to&quot;:&quot;o:0.3;&quot;,&quot;ease&quot;:&quot;Back.easeOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index: 0;">
                            </div>


                            <div id="rrzm_63{{forloop.counter}}" class="rev_row_zone rev_row_zone_middle">

                                <div class="tp-caption  " id="slide-{{forloop.counter}}-layer-04" data-x="['left','left','left','left']"
                                    data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                                    data-voffset="['-426','-426','-426','-426']" data-width="none" data-height="none"
                                    data-whitespace="nowrap" data-type="row" data-columnbreak="3"
                                    data-responsive_offset="on" data-responsive="off"
                                    data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:300,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                    data-textAlign="['inherit','inherit','inherit','inherit']"
                                    data-paddingtop="[0,0,0,0]" data-paddingright="[100,75,50,30]"
                                    data-paddingbottom="[0,0,0,0]" data-paddingleft="[100,75,50,30]">

                                    <div class="tp-caption" id="slide-{{forloop.counter}}-layer-05" data-x="['left','left','left','left']"
                                        data-hoffset="['100','100','100','100']" data-y="['top','top','top','top']"
                                        data-voffset="['100','100','100','100']" data-width="none" data-height="none"
                                        data-whitespace="nowrap" data-type="column" data-responsive_offset="on"
                                        data-responsive="off"
                                        data-frames="[{&quot;delay&quot;:&quot;+0&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                        data-columnwidth="100%" data-verticalalign="top"
                                        data-textAlign="['center','center','center','center']">

                                        <div class="tp-caption mx-auto text-uppercase" id="slide-{{forloop.counter}}-layer-06"
                                            data-x="['center','center','center','center']"
                                            data-hoffset="['0','0','0','0']"
                                            data-y="['middle','middle','middle','middle']"
                                            data-voffset="['0','0','0','0']" data-fontsize="['13','13','13','13']"
                                            data-lineheight="['20','20','20','20']"
                                            data-fontweight="['500','500','500','500']"
                                            data-letterspacing="['1','1','1','1']"
                                            data-color="['#ffffff','#ffffff','#ffffff','#ffffff']"
                                            data-width="['800','auto','auto','auto']" data-height="auto"
                                            data-whitespace="normal" data-basealign="grid" data-type="text"
                                            data-responsive_offset="off" data-verticalalign="middle"
                                            data-responsive="off"
                                            data-frames="[{&quot;delay&quot;:2500,&quot;speed&quot;:800,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:-50px;opacity:0;fb:20px;&quot;,&quot;to&quot;:&quot;o:1;fb:0;&quot;,&quot;ease&quot;:&quot;power3.inOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;power3.inOut&quot;}]"
                                            data-textAlign="['center','center','center','center']"
                                            data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                            data-paddingbottom="[25,25,10,10]" data-paddingleft="[0,0,0,0]"
                                            style="word-break: initial;">
                                            <i class="bi bi-award pe-5px icon-small"></i>{{slider.top_text}}
                                        </div>


                                        <div class="tp-caption mx-auto" id="slide-{{forloop.counter}}-layer-07"
                                            data-x="['center','center','center','center']"
                                            data-hoffset="['0','0','0','0']"
                                            data-y="['middle','middle','middle','middle']"
                                            data-voffset="['0','0','0','0']" data-fontsize="['75','60','70','50']"
                                            data-lineheight="['70','65','75','55']"
                                            data-fontweight="['700','700','700','700']"
                                            data-letterspacing="['-2','-2','-2','0']"
                                            data-color="['#ffffff','#ffffff','#ffffff','#ffffff']"
                                            data-width="['700','600','600','auto']" data-height="auto"
                                            data-whitespace="normal" data-basealign="grid" data-type="text"
                                            data-responsive_offset="off" data-verticalalign="middle"
                                            data-responsive="on"
                                            data-frames="[{&quot;delay&quot;:&quot;1500&quot;,&quot;split&quot;:&quot;chars&quot;,&quot;splitdelay&quot;:0.03,&quot;speed&quot;:800,&quot;split_direction&quot;:&quot;middletoedge&quot;,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;fb:10px;&quot;,&quot;to&quot;:&quot;o:1;fb:0;&quot;,&quot;ease&quot;:&quot;Power4.easeOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:100,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;fb:0;&quot;,&quot;ease&quot;:&quot;Power4.easeOut&quot;}]"
                                            data-textAlign="['center','center','center','center']"
                                            data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                            data-paddingbottom="[33,28,35,25]" data-paddingleft="[0,0,0,0]"
                                            style="word-break: initial; text-shadow: #0b1236 3px 3px 15px;">
                                            {{slider.main_text}}
                                        </div>


                                        <div class="tp-caption mx-auto" id="slide-{{forloop.counter}}-layer-08"
                                            data-x="['center','center','center','center']"
                                            data-hoffset="['0','0','0','0']"
                                            data-y="['middle','middle','middle','middle']"
                                            data-voffset="['0','0','0','0']" data-fontsize="['20','20','24','20']"
                                            data-lineheight="['36','36','40','30']"
                                            data-fontweight="['300','300','300','300']"
                                            data-letterspacing="['0','0','0','0']"
                                            data-color="['#ffffff','#ffffff','#ffffff','#ffffff']"
                                            data-width="['500','500','auto','auto']" data-height="auto"
                                            data-whitespace="normal" data-basealign="grid" data-type="text"
                                            data-responsive_offset="off" data-verticalalign="middle"
                                            data-responsive="on"
                                            data-frames="[{&quot;delay&quot;:2500,&quot;speed&quot;:800,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:50px;opacity:0;fb:20px;&quot;,&quot;to&quot;:&quot;o:0.6;fb:0;&quot;,&quot;ease&quot;:&quot;power3.inOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;power3.inOut&quot;}]"
                                            data-textAlign="['center','center','center','center']"
                                            data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                            data-paddingbottom="[36,36,60,40]" data-paddingleft="[0,0,0,0]">
                                            {{slider.description}}
                                        </div>


                                        <div class="tp-caption tp-resizeme" id="slide-{{forloop.counter}}-layer-09"
                                            data-x="['center','center','center','center']"
                                            data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                                            data-voffset="['0','0','0','0']" data-width="auto" data-height="none"
                                            data-whitespace="nowrap" data-fontsize="['18','16','16','16']"
                                            data-lineheight="['70','55','55','55']" data-type="text"
                                            data-responsive_offset="off" data-responsive="off"
                                            data-frames="[{&quot;delay&quot;:3000,&quot;speed&quot;:1000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:100px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                            data-textAlign="['inherit','inherit','inherit','inherit']"
                                            data-paddingtop="[0,0,0,0]" data-paddingright="[75,70,65,60]"
                                            data-paddingbottom="[0,0,0,0]" data-paddingleft="[45,35,30,30]">
                                            <a href="{{slider.button_text}}" class="btn btn-extra-large get-started-btn btn-rounded with-rounded btn-gradient-flamingo-amethyst-green btn-box-shadow">
                                                {{slider.button_text}}
                                                <span class="bg-white text-base-color"><i class="fa-solid fa-arrow-right"></i></span>
                                            </a>
                                        </div>

                                    </div>

                                </div>

                            </div>


                            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme bg-base-color border-radius-50"
                                id="slide-{{forloop.counter}}-layer-10" data-x="['center','center','center','center']"
                                data-hoffset="['510','410','310','0']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['-320','-250','-250','0']" data-width="['122','122','120','120']"
                                data-height="['122','122','120','120']" data-visibility="['on','on','off','off']"
                                data-whitespace="nowrap" data-basealign="grid" data-type="shape"
                                data-responsive_offset="on"
                                data-frames="[{&quot;delay&quot;:3500,&quot;speed&quot;:1000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:0px;y:50px;rX:0deg;rY:0deg;rZ:0deg;sX:0.5;sY:0.5;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Back.easeOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index: 0;">
                            </div>


                            <div class="tp-caption d-inline-block" id="slide-{{forloop.counter}}-layer-11"
                                data-x="['center','center','center','center']" data-hoffset="['510','410','310','0']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['-305','-250','-250','0']"
                                data-visibility="['on','on','off','off']" data-fontsize="['13','13','13','13']"
                                data-lineheight="['16','16','16','16']" data-fontweight="['500','600','600','600']"
                                data-letterspacing="['0','0','0','0']"
                                data-color="['#ffffff','#ffffff','#ffffff','#ffffff']"
                                data-width="['100','100','100','100']" data-height="auto" data-whitespace="normal"
                                data-basealign="grid" data-type="text" data-responsive_offset="on"
                                data-verticalalign="middle" data-responsive="on"
                                data-frames="[{&quot;delay&quot;:3700,&quot;speed&quot;:1000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:0px;y:50px;rX:0deg;rY:0deg;rZ:0deg;sX:0.5;sY:0.5;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Back.easeOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[33,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="word-break: initial;">
                                <i class="bi bi-patch-check-fill icon-extra-medium d-block pb-10px"></i> <span
                                    class="d-block text-uppercase">Quality Verified</span>
                            </div>

                        </li>
                        {% endfor %}
                    </ul>

                    <div class="tp-bannertimer" style="height: 10px; background-color: rgba(0, 0, 0, 0.10); z-index: 98"></div>
                </div>
            </div>
        </section>
        {% endif %}

        <section>
            <div class="container">
                <div class="row justify-content-center align-items-center mb-6 sm-pb-9">
                    <div class="col-lg-5 col-md-9 position-relative md-mb-15 text-center text-lg-start"
                        data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 15, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                        <div class="absolute-middle-center z-index-9 counter-style-02 text-center">
                            <span class="fs-160 fw-800 text-dark-gray ls-minus-10px xs-ls-minus-5px position-relative lg-fs-130 xs-fs-75">08<sub class="align-top fs-80 lg-fs-70 text-dark-gray position-relative top-minus-3px">+</sub></span>
                            <span class="d-block mx-auto fs-20 fw-500 lh-26 w-70 text-center text-dark-gray xs-w-100">Years
                                in the Industry</span>
                        </div>
                    </div>
                    <div class="col-lg-7 ps-6 text-center text-lg-start lg-ps-15px"
                        data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                        <span
                            class="ps-25px pe-25px mb-20px text-uppercase text-base-color fs-14 lh-42px fw-700 border-radius-100px bg-gradient-very-light-gray-transparent d-inline-block">About Us</span>
                        <h3 class="text-dark-gray about-title fw-700 ls-minus-1px">Empowering Industries Through Innovative Technology Solutions</h3>
                        <p class="lg-w-100 mb-40px sm-mb-25px">Nexteons is a leading technology solutions provider with a team of talented technology experts who possess vast industry experience in various domains such as Retail, Manufacturing, Healthcare, Health Insurance, Pharmaceuticals, Logistics, Courier, Calibration & Testing Labs, as well as expertise in Business Analytics, Machine Learning, and other advanced technologies. Established with the vision of delivering innovative and reliable technology solutions, Nexteons has partnered with numerous resellers in the Middle East, providing an extensive range of products and services.</p>
                        <a href="{% url 'web:about' %}"
                            class="btn btn-large btn-dark-gray btn-hover-animation-switch btn-box-shadow btn-rounded me-25px xs-me-0">
                            <span>
                                <span class="btn-text">Read about us</span>
                                <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                            </span>
                        </a>
                        <span class="text-dark-gray fw-700 ls-minus-05px d-block d-sm-inline-block sm-mt-15px"><a
                                href="tel:1800222000"><i class="feather icon-feather-phone-call me-10px"></i>1 800 222
                                000</a></span>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 justify-content-center counter-style-07 ps-3 pe-3"
                    data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">

                    <div class="col text-center sm-mb-30px">
                        <h2 class="vertical-counter d-inline-flex text-dark-gray fw-800 mb-0 ls-minus-3px position-relative z-index-0"
                            data-to="8">
                            <span class="text-highlight position-absolute bottom-9px w-100"><span
                                    class="bg-gradient-flamingo-amethyst-green h-10px opacity-2"></span></span>
                        </h2> <sup class="fs-24"><b>+</b></sup>
                        <span class="d-block fs-14 fw-700 text-uppercase text-dark-gray">Years of Experience</span>
                    </div>


                    <div class="col text-center sm-mb-30px">
                        <h2 class="vertical-counter d-inline-flex text-dark-gray fw-800 mb-0 ls-minus-3px position-relative z-index-0"
                            data-to="100">
                            <span class="text-highlight position-absolute bottom-9px w-100"><span
                                    class="bg-gradient-flamingo-amethyst-green h-10px opacity-2"></span></span>
                        </h2> <sup class="fs-24"><b>+</b></sup>
                        <span class="d-block fs-14 fw-700 text-uppercase text-dark-gray">Engagements</span>
                    </div>


                    <div class="col text-center sm-mb-30px">
                        <h2 class="vertical-counter d-inline-flex text-dark-gray fw-800 mb-0 ls-minus-3px position-relative z-index-0"
                            data-to="10">
                            <span class="text-highlight position-absolute bottom-9px w-100"><span
                                    class="bg-gradient-flamingo-amethyst-green h-10px opacity-2"></span></span>
                        </h2> <sup class="fs-24"><b>+</b></sup>
                        <span class="d-block fs-14 fw-700 text-uppercase text-dark-gray">Industries Served</span>
                    </div>


                    <div class="col text-center">
                        <h2 class="vertical-counter d-inline-flex text-dark-gray fw-800 mb-0 ls-minus-3px position-relative z-index-0"
                            data-to="8">
                            <span class="text-highlight position-absolute bottom-9px w-100"><span
                                    class="bg-gradient-flamingo-amethyst-green h-10px opacity-2"></span></span>
                        </h2> <sup class="fs-24"><b>+</b></sup>
                        <span class="d-block fs-14 fw-700 text-uppercase text-dark-gray">Years of Excellence</span>
                    </div>

                </div>
            </div>
        </section>


        <section
            class="overflow-hidden bg-regal-blue position-relative border-radius-6px lg-border-radius-0px z-index-0">
            <img src="/static/web/images/corporate-bg-01.png"
                class="position-absolute top-minus-150px left-minus-30px z-index-minus-1"
                data-bottom-top="transform: rotate(0deg) translateY(0)"
                data-top-bottom="transform:rotate(-20deg) translateY(0)" alt />
            <div class="container">
                <div class="row align-items-center mb-6 sm-mb-9 text-center text-lg-start">
                    <div class="col-lg-5 md-mb-20px">
                        <span
                            class="ps-25px pe-25px mb-10px text-uppercase text-white fs-13 lh-42px fw-600 border-radius-100px bg-gradient-blue-whale-transparent d-inline-block">Nexteons Tech Solutions</span>
                        <h3 class="text-white fw-700 mb-0 ls-minus-1px">Our services</h3>
                    </div>
                    <div class="col-lg-5 last-paragraph-no-margin md-mb-20px">
                        <p class="md-w-100">Explore our comprehensive suite of IT services designed to elevate your business to new heights. Trust our experienced team to deliver innovative solutions that optimize efficiency, enhance security, and drive growth for your organization.</p>
                    </div>
                    <div class="col-lg-2 d-flex justify-content-center justify-content-lg-end">

                        <div
                            class="slider-one-slide-prev-1 icon-extra-medium text-white swiper-button-prev slider-navigation-style-04 border border-1 border-color-transparent-white-light">
                            <i class="feather icon-feather-chevron-left"></i>
                        </div>
                        <div
                            class="slider-one-slide-next-1 icon-extra-medium text-white swiper-button-next slider-navigation-style-04 border border-1 border-color-transparent-white-light">
                            <i class="feather icon-feather-chevron-right"></i>
                        </div>

                    </div>
                </div>

                {% if services %}
                <div class="row align-items-center mb-6">
                    <div class="col-12">
                        <div class="outside-box-right-25 sm-outside-box-right-0">
                            <div class="swiper magic-cursor slider-one-slide"
                                data-slider-options="{ &quot;slidesPerView&quot;: 1, &quot;spaceBetween&quot;: 30, &quot;loop&quot;: true, &quot;navigation&quot;: { &quot;nextEl&quot;: &quot;.slider-one-slide-next-1&quot;, &quot;prevEl&quot;: &quot;.slider-one-slide-prev-1&quot; }, &quot;autoplay&quot;: { &quot;delay&quot;: 4000, &quot;disableOnInteraction&quot;: false }, &quot;keyboard&quot;: { &quot;enabled&quot;: true, &quot;onlyInViewport&quot;: true }, &quot;breakpoints&quot;: { &quot;1200&quot;: { &quot;slidesPerView&quot;: 4 }, &quot;992&quot;: { &quot;slidesPerView&quot;: 3 }, &quot;768&quot;: { &quot;slidesPerView&quot;: 2 }, &quot;320&quot;: { &quot;slidesPerView&quot;: 1 } }, &quot;effect&quot;: &quot;slide&quot; }">
                                <div class="swiper-wrapper">

                                    {% for service in services %}
                                    <div class="swiper-slide">

                                        <div
                                            class="interactive-banner-style-09 border-radius-6px overflow-hidden position-relative">
                                            <img src="{{service.image.url}}" alt />
                                            <div class="opacity-extra-medium bg-gradient-dark-transparent"></div>
                                            <div
                                                class="image-content h-100 w-100 ps-15 pe-15 pt-13 pb-13 md-p-10 d-flex justify-content-bottom align-items-start flex-column">
                                                <div class="hover-label-icon position-relative z-index-9">
                                                    <i class="{{service.icon}} text-white icon-extra-large"></i>
                                                </div>
                                                <div
                                                    class="mt-auto d-flex align-items-start w-100 z-index-1 position-relative overflow-hidden flex-column">
                                                    <span class="text-white fw-600 fs-20">{{service.title}}</span>
                                                    <span
                                                        class="content-title text-white fs-13 fw-500 text-uppercase ls-05px">{{service.subtitle}}</span>
                                                    <a href="{{service.get_absolute_url}}"
                                                        class="content-title-hover fs-13 lh-24 fw-500 ls-05px text-uppercase text-white opacity-6 text-decoration-line-bottom">Explore
                                                        services</a>
                                                    <span
                                                        class="content-arrow lh-42px rounded-circle bg-white w-50px h-50px ms-20px text-center"><i
                                                            class="fa-solid fa-chevron-right text-dark-gray fs-16"></i></span>
                                                </div>
                                                <div
                                                    class="position-absolute left-0px top-0px w-100 h-100 bg-gradient-regal-blue-transparent opacity-9">
                                                </div>
                                                <div class="box-overlay bg-gradient-base-color-transparent"></div>
                                                <a href="{{service.get_absolute_url}}"
                                                    class="position-absolute z-index-1 top-0px left-0px h-100 w-100"></a>
                                            </div>
                                        </div>

                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 text-center">
                        <i
                            class="bi bi-envelope text-white d-inline-block align-middle icon-extra-medium me-10px md-m-5px"></i>
                        <div class="fs-18 text-white d-inline-block align-middle">Save your precious time and effort
                            spent for finding a solution. <a href="{% url 'web:contact' %}"
                                class="text-white text-decoration-line-bottom">Contact us now</a></div>
                    </div>
                </div>
            </div>
        </section>


        <section>
            <div class="container position-relative">
                <div class="row align-items-center mb-7">
                    <div class="col-xxl-6 col-lg-6 md-mb-15 sm-mb-20 text-center text-lg-start">
                        <span
                            class="ps-25px pe-25px mb-20px text-uppercase text-base-color fs-14 lh-42px fw-700 border-radius-100px bg-gradient-very-light-gray-transparent d-inline-block">Partnership Strategies</span>
                        <h3 class="text-dark-gray fw-700 ls-minus-2px mb-40px">Strategic Collaborations Driving Business Expansion</h3>
                        <div class="row row-cols-1"
                            data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                            
                            <div class="col-12 process-step-style-05 position-relative hover-box">
                                <div class="process-step-item d-flex">
                                    <div class="process-step-icon-wrap position-relative">
                                        <div
                                            class="process-step-icon d-flex justify-content-center align-items-center mx-auto rounded-circle h-60px w-60px fs-14 bg-light-red fw-700 position-relative">
                                            <span class="number position-relative z-index-1 text-dark-gray">01</span>
                                            <div class="box-overlay bg-base-color rounded-circle"></div>
                                        </div>
                                        <span class="progress-step-separator bg-dark-gray opacity-1"></span>
                                    </div>
                                    <div class="process-content ps-30px last-paragraph-no-margin mb-30px">
                                        <span class="d-block fw-700 text-dark-gray mb-5px fs-18">Technology Partnerships for Product Integration</span>
                                        <p class="w-90 lg-w-100 lh-32">Forging partnerships with technology companies to integrate cutting-edge solutions into our products, enhancing their capabilities and to reduce cost for customers.</p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 process-step-style-05 position-relative hover-box">
                                <div class="process-step-item d-flex">
                                    <div class="process-step-icon-wrap position-relative">
                                        <div
                                            class="process-step-icon d-flex justify-content-center align-items-center mx-auto rounded-circle h-60px w-60px fs-14 bg-light-red fw-700 position-relative">
                                            <span class="number position-relative z-index-1 text-dark-gray">02</span>
                                            <div class="box-overlay bg-base-color rounded-circle"></div>
                                        </div>
                                        <span class="progress-step-separator bg-dark-gray opacity-1"></span>
                                    </div>
                                    <div class="process-content ps-30px last-paragraph-no-margin mb-30px">
                                        <span class="d-block fw-700 text-dark-gray mb-5px fs-18">Hybrid Platforms for Affordability</span>
                                        <p class="w-90 lg-w-100 lh-32">We are using hybrid platforms for development to reduce cost for customers</p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 process-step-style-05 position-relative hover-box xs-mb-30px">
                                <div class="process-step-item d-flex">
                                    <div class="process-step-icon-wrap position-relative">
                                        <div
                                            class="process-step-icon d-flex justify-content-center align-items-center mx-auto rounded-circle h-60px w-60px fs-14 bg-light-red fw-700 position-relative">
                                            <span class="number position-relative z-index-1 text-dark-gray">03</span>
                                            <div class="box-overlay bg-base-color rounded-circle"></div>
                                        </div>
                                    </div>
                                    <div class="process-content ps-30px last-paragraph-no-margin">
                                        <span class="d-block fw-700 text-dark-gray mb-5px fs-18">Channel Partnerships for Market Expansion</span>
                                        <p class="w-90 lg-w-100 lh-32">Establishing channel partnerships to broaden market reach and effectively penetrate new customer segments.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xxl-5 col-lg-6 offset-xxl-1 position-relative md-mb-30px sm-mb-15" data-anime="{ &quot;translateX&quot;: [0, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                        <img src="/static/web/images/corporate-10.png" class="position-relative z-index-9 top-40px" alt>
                        <img src="/static/web/images/corporate-03.png" class="absolute-middle-center xs-w-95" alt>
                        <img src="/static/web/images/corporate-05.png" class="position-absolute top-50px left-0px xs-left-15px" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)" alt>
                        <img src="/static/web/images/corporate-06.png" class="position-absolute top-150px left-30" data-bottom-top="transform: translateY(30px)" data-top-bottom="transform: translateY(-30px)" alt>
                        <img src="/static/web/images/corporate-07.png" class="position-absolute top-50px right-30" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)" alt>
                        <img src="/static/web/images/corporate-08.png" class="position-absolute top-100px right-0px xs-right-15px" data-bottom-top="transform: translateY(30px)" data-top-bottom="transform: translateY(-30px)" alt>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 text-center align-items-center"
                        data-anime="{ &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                        <div
                            class="bg-base-color fw-700 text-white text-uppercase border-radius-30px ps-20px pe-20px fs-12 me-10px sm-m-5px d-inline-block align-middle">
                            hurray</div>
                        <div class="fs-18 fw-500 text-dark-gray d-inline-block align-middle">Let's make something great
                            work together. <a href="{% url 'web:contact' %}"
                                class="text-dark-gray text-decoration-line-bottom fw-700">Got a project in mind?</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="bg-gradient-quartz-white border-radius-6px lg-border-radius-0px">
            <div class="container background-no-repeat background-position-top"
                style="background-image: url('/static/web/images/corporate-bg-02.png')">
                <div class="row justify-content-center mb-3">
                    <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9 text-center"
                        data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                        <h3 class="text-dark-gray fw-700 ls-minus-1px">Nexteons Client Portfolio
                        </h3>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mb-6 sm-mb-8"
                    data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [0, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 100, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    <div class="col-12 position-relative ps-8 pe-8 lg-ps-15px lg-pe-15px">
                        <div class="swiper magic-cursor testimonials-style-06"
                            data-slider-options="{ &quot;loop&quot;: true, &quot;autoplay&quot;: { &quot;delay&quot;: 4000, &quot;disableOnInteraction&quot;: false }, &quot;keyboard&quot;: { &quot;enabled&quot;: true, &quot;onlyInViewport&quot;: true }, &quot;navigation&quot;: { &quot;nextEl&quot;: &quot;.swiper-button-next-nav&quot;, &quot;prevEl&quot;: &quot;.swiper-button-previous-nav&quot;, &quot;effect&quot;: &quot;fade&quot; } }">
                            <div class="swiper-wrapper">

                                {% for testimonial in testimonials %}
                                <div class="swiper-slide">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-8 col-md-3 col-sm-6 text-center md-mb-30px">
                                            <img class="testimonial_img" alt src="{{testimonial.image.url}}">
                                        </div>
                                        <div
                                            class="col-lg-5 col-md-8 last-paragraph-no-margin text-center text-md-start">
                                            <span class="mb-5px d-table fs-18 lh-30 fw-500 text-dark-gray">{{testimonial.description}}</span>
                                            <span class="fs-15 text-uppercase fw-800 text-base-color ls-1px">{{testimonial.name}}</span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            <div class="swiper-button-previous-nav swiper-button-prev md-left-0px"><i
                                    class="feather icon-feather-arrow-left icon-extra-medium text-dark-gray"></i></div>
                            <div class="swiper-button-next-nav swiper-button-next md-right-0px"><i
                                    class="feather icon-feather-arrow-right icon-extra-medium text-dark-gray"></i></div>

                        </div>
                    </div>
                </div>
                
                <div class="row row-cols-1 row-cols-lg-5 row-cols-md-3 row-cols-sm-2 clients-style-06 justify-content-center ps-3 pe-3 xs-mt-40px"
                    data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateX&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">

                    {% for client in clients %}
                    <div class="col client-box text-center md-mb-40px">
                        <a href="#"><img src="{{client.image.url}}" class="h-45px" alt></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>


        <section class="p-0">
            <div class="container">
                <div class="row justify-content-center"
                    data-anime="{ &quot;translateY&quot;: [0, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    <div class="col-12">
                        <div class="border-radius-6px h-450px md-h-350px sm-h-400px d-flex flex-wrap align-items-center justify-content-center overflow-hidden cover-background box-shadow-quadruple-large pt-15"
                            style="background-image: url('/static/web/images/corporate-video-img.jpg')">
                            <div class="opacity-full-dark bg-gradient-regal-blue-transparent"></div>
                            <div class="row justify-content-center m-0">
                                <div class="col-lg-7 col-md-8 z-index-1 text-center text-md-start sm-mb-20px">
                                    <h3 class="text-white mb-0 fw-400 fancy-text-style-4">We make the creative solutions
                                        for <span class="fw-600"
                                            data-fancy-text="{ &quot;effect&quot;: &quot;rotate&quot;, &quot;string&quot;: [&quot;business!&quot;, &quot;problems!&quot;, &quot;brands!&quot;] }"></span>
                                    </h3>
                                </div>
                                <div class="col-md-2 position-relative z-index-1 text-center sm-mb-20px">
                                    <a href="https://www.youtube.com/watch?v=3KtWfp0UopM"
                                        class="position-relative d-inline-block text-center border border-2 border-color-white rounded-circle video-icon-box video-icon-large popup-youtube">
                                        <span>
                                            <span class="video-icon">
                                                <i class="fa-solid fa-play fs-20 text-white"></i>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div
                                class="w-100 text-center position-relative mt-auto pt-20px pb-25px ps-15px pe-15px border-top border-color-transparent-white-light">
                                <div class="fs-14 text-uppercase text-white fw-600 ls-05px">Let's make something great
                                    work together. <a href="{% url 'web:contact' %}"
                                        class="text-decoration-line-bottom text-white">Got a project in mind?</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="bg-gradient-quartz-white border-radius-6px lg-border-radius-0px pb-0">
            <div class="container">
                <div class="row justify-content-center mb-3">
                    <div class="col-lg-7 text-center"
                        data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                        <h3 class="text-dark-gray fw-700 ls-minus-1px">Insights & Innovations: Nexteons' Tech Chronicles</h3>
                    </div>
                </div>
                <div class="row mb-5 sm-mb-7">
                    <div class="col-12">
                        <ul class="blog-grid blog-wrapper grid-loading grid grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large"
                            data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                            <li class="grid-sizer"></li>

                            {% for blog in blogs %}
                            <li class="grid-item">
                                <div
                                    class="card border-0 border-radius-5px box-shadow-quadruple-large box-shadow-quadruple-large-hover">
                                    <div class="blog-image">
                                        <a href="{{blog.get_absolute_url}}" class="d-block"><img
                                                src="{{blog.image.url}}" alt /></a>
                                        <div class="blog-categories">
                                            <a href="{{blog.get_absolute_url}}"
                                                class="categories-btn bg-white text-dark-gray text-dark-gray-hover text-uppercase fw-700">{{blog.category}}</a>
                                        </div>
                                    </div>
                                    <div class="card-body p-12 lg-p-10">
                                        <a href="{{blog.get_absolute_url}}"
                                            class="card-title mb-15px fw-700 fs-19 text-dark-gray d-inline-block w-90 md-w-100">{{blog.title}}</a>
                                        <p>{{blog.summary|truncatechars:100}}</p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                
            </div>
        </section>


        {% include 'web/partials/footer.html' %}

        <div class="scroll-progress d-none d-xxl-block">
            <a href="#" class="scroll-top" aria-label="scroll">
                <span class="scroll-text">Scroll</span><span class="scroll-line"><span
                        class="scroll-point"></span></span>
            </a>
        </div>

    </div>

    <script type="text/javascript" src="/static/web/js/jquery.js"></script>
    <script type="text/javascript" src="/static/web/js/vendors.min.js"></script>
    {% include 'web/partials/revolution.html' %}
    <script type="text/javascript" src="/static/web/js/main.js"></script>
</body>

</html>