{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />

<!-- Primary Meta Tags -->
<title>Nexteons Technologies LLP: Trusted Software Partner for Your Business Success</title>
<meta name="title" content="Nexteons Technologies LLP: Trusted Software Partner for Your Business Success" />
<meta name="description" content="Nexteons Technologies LLP is your trusted partner for custom software development. We specialize in crafting solutions that seamlessly integrate with your existing infrastructure and workflows, empowering your business to thrive." />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://nexteons.com/" />
<meta property="og:title" content="Nexteons Technologies LLP: Trusted Software Partner for Your Business Success" />
<meta property="og:description" content="Nexteons Technologies LLP is your trusted partner for custom software development. We specialize in crafting solutions that seamlessly integrate with your existing infrastructure and workflows, empowering your business to thrive." />
<meta property="og:image" content="https://nexteons.com/images/meta-tags.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://nexteons.com/" />
<meta property="twitter:title" content="Nexteons Technologies LLP: Trusted Software Partner for Your Business Success" />
<meta property="twitter:description" content="Nexteons Technologies LLP is your trusted partner for custom software development. We specialize in crafting solutions that seamlessly integrate with your existing infrastructure and workflows, empowering your business to thrive." />
<meta property="twitter:image" content="https://nexteons.com/images/meta-tags.png" />

<link rel="apple-touch-icon" sizes="180x180" href="https://nexteons.com/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://nexteons.com/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://nexteons.com/images/favicon/favicon-16x16.png">
<link rel="manifest" href="https://nexteons.com/images/favicon/site.webmanifest">
<link rel="mask-icon" href="https://nexteons.com/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

<link rel="stylesheet" type="text/css" href="/static/web/revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="/static/web/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="/static/web/revolution/css/navigation.css">

<link rel="stylesheet" href="/static/web/css/vendors.min.css" />
<link rel="stylesheet" href="/static/web/css/icon.min.css" />
<link rel="stylesheet" href="/static/web/css/style.min.css" />
<link rel="stylesheet" href="/static/web/css/responsive.min.css" />
<link rel="stylesheet" href="/static/web/css/master.css" />